@import "~bulma/sass/utilities/_all"

.articleroll
  > .columns:not(:first-child)
    margin-top: 1.5rem;
    +tablet
      margin-top: 0;
  &__article:not(:first-child)
    margin-top: 1.5rem;
    +tablet
      margin-top: 0;
