@import "~bulma/sass/utilities/_all"

.articlethumbnail.content
  transition: opacity 200ms ease-in, color 200ms ease-in;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  &:hover
    opacity: 0.9;
    color: rgba(0,0,0,0.7);
  .roll-cover
    // Issue #3 - set aspect ratio to 2.35 : 1
    padding-bottom: 42%;
    &.bg-default:after
      background-image: none;
  h2.title
    margin: 0.5em 0;
    font-size: 1.1rem;
    line-height: 1.5;
    +tablet
      font-size: 1.2rem;

  p.excerp
    color: #666;
    font-size: 0.875rem;

  p:not(:last-child)
    margin-bottom: 0.5em;
  .meta
    color: #aaa;
    font-size: 0.875rem;
