@import "./variables"
.content .articles
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__item
    display: block;
    margin-bottom: 1rem;

  &__title
    color: #555;
    font-size: 1.25rem;
    font-weight: bolder;

  &__excerp
    max-width: 100%;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  &__more
    text-align: right;
    a button
      border-color: $color-primary;
      color: $color-primary;
