@import "./variables"

.copyit
  display: inline-block;
  &__tip
    z-index: 9999;
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -1.5em;
    margin-left: -6em;
    height: 3em;
    width: 12em;
    line-height: 3;
    background: $color-secondary
    color: white;
    text-align: center;
    transition: opacity 200ms ease-in
    border-radius: 0.25em;
    opacity: 1;
    &--visible
      display: block;
    &.o-0
      opacity: 0;
  &__button.is-white
    padding: 0em 1em;
    height: 1.6em;
    background-color: transparent;
    i
      color: #aaa;