@import "~bulma/sass/utilities/_all"
@import "./variables"

.gwlist
  &__trigger button.is-light
    color: $color-primary;
    padding: 0 0.75rem;
    height: 1.8em;
    line-height: 1.8;
    margin-bottom: 0.25rem;
    cursor: pointer;
    &:hover
      color: $color-primary;
  &__title
    text-align: center;
    font-weight: 600;
    font-size: 1.125rem;
  &__desp
    padding: 0.5rem 1.5rem;
    color: #777
    font-size: 0.875rem;
  &__content
    min-height: 8rem;
    position: relative;
    z-index: 1;
  &__loading
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    i
      font-size: 2rem;
  &__close
    float: right;
    background: white;
    border-radius: 100%;
    border: 1px solid #aaa;
    height: 2em;
    line-height: 2;
    width: 2em;
    text-align: center;
    margin-top: 0.25em;
    margin-right: 0.625rem;
    cursor: pointer;
  &__item
    display: flex;
    align-items: center;
    padding-right: 0;
    a
      color: #555;
      flex-grow: 1;
      outline: none;
  
  .dropdown-menu
    z-index: 100;
    position: fixed;
    width: 100vw;
    top: 4rem;
    left: 0rem;
    margin: 0;
    padding: 0;

    .dropdown-wrapper
      display: flex;
      justify-content: center;

    .dropdown-content
      background: #eee;
      width: calc(100vw - 4rem);
      max-width: 24rem;
    .dropdown-item
      padding-left: 1.5rem;
      padding-right: 0.3rem;