@import "~bulma/sass/utilities/_all"
.ymal
  &__list
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  &__card
    padding: 0.5rem;
    min-width: 100%;
    +tablet
      min-width: 25%;
